@model Comeinda.Data.Tables.EventTable

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>EventTable</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="ViewBag.Status"></select>
            </div>
            <div class="form-group">
                <label asp-for="TitleSEO" class="control-label"></label>
                <input asp-for="TitleSEO" class="form-control" />
                <span asp-validation-for="TitleSEO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionSEO" class="control-label"></label>
                <input asp-for="DescriptionSEO" class="form-control" />
                <span asp-validation-for="DescriptionSEO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KeywordsSEO" class="control-label"></label>
                <input asp-for="KeywordsSEO" class="form-control" />
                <span asp-validation-for="KeywordsSEO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkURL" class="control-label"></label>
                <input asp-for="LinkURL" class="form-control" />
                <span asp-validation-for="LinkURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
