это будет выпадающий список из панели управления

<a class="nav-link text-dark" asp-area="" asp-controller="Events" asp-action="Index">Мои мероприятия</a>
<a class="nav-link text-dark" asp-area="" asp-controller="TicketSets" asp-action="Index">Наборы билетов</a>
