это будет выпадающий список из панели управления

<a class="nav-link text-dark" asp-area="" asp-controller="Events" asp-action="Index">Мои мероприятия</a>
<a class="nav-link text-dark" asp-area="" asp-controller="EventFiles" asp-action="Index">Файлы мероприятия</a>
<a class="nav-link text-dark" asp-area="" asp-controller="TicketSets" asp-action="Index">Наборы билетов</a>

<p>---------------------------------------</p>
<p>доп данные заполняет редактор, я так понимаю</p>
<p>категории эвентов нужно создать заранее, их тоже создаёт редактор или админ</p>
<p>билеты для удобства, чтобы проверить как создаются</p>
<p></p>
<a class="nav-link text-dark" asp-area="" asp-controller="AdditionalEventData" asp-action="Index">Доп. данные мероприятия</a>
<a class="nav-link text-dark" asp-area="" asp-controller="CategoryEvents" asp-action="Index">Категории эвентов</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Tickets" asp-action="Index">Билеты</a>
