@model Comeinda.Data.Tables.FileTable

@{
    ViewData["Title"] = "Create";
}

<h1>Мероприятие: @ViewBag.EventName</h1>
<h5>Добавить файл</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateFile" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" value="@ViewBag.EventId" name="EventId" />
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="file" name="uploadedFile" />
            </div>
            <div class="form-group">
                <input type="submit" value="Загрузить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
